@charset "UTF-8";
:root {
  --clr-base: #1E1E1E;
  --clr-att: #F06500;
  --clr-att-hover: #ad4800;
  --clr-border: #DEDEDE;
  --clr-bg: #f5f5f5;
  --clr-bg-att: #FFF5ED;
  --min: 320px;
  --max: 1340px;
  --paddingContainer: 15px;
  font-size: 10px;
}
.sl-wrap ~ .sl-wrap {
  display: none;
}
.elm-hidden {
  display: none;
}
/* ----------------------------------- *\
			main styles
\* ----------------------------------- */
body {
  color: var(--clr-base);
  background: #fff;
  font-size: 16px;
  line-height: 1.25;
}
p,
ul,
ol,
table,
blockquote,
.bq-text {
  position: relative;
  margin-bottom: 1.25em;
}
p img,
ul img,
ol img,
table img,
blockquote img,
.bq-text img {
  max-width: 100%;
}
p:last-child,
ul:last-child,
ol:last-child,
table:last-child,
blockquote:last-child,
.bq-text:last-child {
  margin-bottom: 0 !important;
}
li {
  position: relative;
  padding-left: 20px;
}
li:before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: currentColor;
  position: absolute;
  top: 0.625em;
  left: 8px;
  margin-top: -2px;
}
.menu,
.list {
  margin: 0;
  padding: 0;
}
.menu li,
.list li {
  margin: 0;
  padding: 0;
}
.menu li:before,
.list li:before {
  display: none;
}
a {
  text-decoration: none;
  color: var(--clr-att);
}
a:hover {
  text-decoration: none;
  color: var(--clr-att-hover);
}
a.link-main,
.link-main {
  text-decoration: none;
  border-bottom: 1px solid;
}
.link-phone,
.link-email {
  white-space: nowrap;
  display: inline-block;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0 0 28px;
  color: var(--clr-base);
}
.link-phone:before,
.link-email:before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  background: url(../img/icons/email.svg) center no-repeat;
  background-size: 100% auto;
  top: 50%;
  left: 0;
  margin-top: -9px;
}
.link-phone:hover,
.link-email:hover {
  opacity: 0.8;
  color: var(--clr-base);
}
.link-phone:before {
  background-image: url(../img/icons/phone.svg);
}
h1,
.h1-title,
h2,
.h2-title,
h3,
.h3-title,
h4,
.h4-title,
h5,
.h5-title,
h6,
.h6-title {
  display: block;
  position: relative;
  font-weight: bold;
  margin: 1em 0;
}
h1:first-child,
.h1-title:first-child,
h2:first-child,
.h2-title:first-child,
h3:first-child,
.h3-title:first-child,
h4:first-child,
.h4-title:first-child,
h5:first-child,
.h5-title:first-child,
h6:first-child,
.h6-title:first-child {
  margin-top: 0;
}
.h1-title,
h1 {
  font-size: 50px;
  font-size: 50px;
  font-size: 5rem;
  line-height: 1.08;
}
.h2-title,
h2 {
  font-size: 40px;
  font-size: 40px;
  font-size: 4rem;
  line-height: 1.1;
}
.h3-title,
h3 {
  font-size: 34px;
  font-size: 34px;
  font-size: 3.4rem;
  line-height: 1.11764706;
  font-weight: 500;
}
.title-500 {
  font-weight: 500;
}
.title-upper {
  text-transform: uppercase;
}
.text-att,
.title-att {
  color: var(--clr-att);
}
.text-light,
.title-light {
  color: var(--clr-light);
}
.text-center,
.title-center {
  text-align: center;
}
@media (max-width: 1199px) {
  :root {
    font-size: 9px;
  }
}
@media (max-width: 1023px) {
  :root {
    font-size: 8px;
  }
  .h1-title,
  h1 {
    font-size: 4rem;
  }
  .h2-title,
  h2 {
    font-size: 3.2rem;
  }
  .h3-title,
  h3 {
    font-size: 2.8rem;
  }
}
@media (max-width: 767px) {
  :root {
    font-size: 7px;
  }
}
@media (min-width: 1024px) {
  :root {
    --paddingContainer: 30px;
  }
}
/* ----------------------------------- *\
			structura
\* ----------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: var(--min);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
.cnt-full-wrap {
  margin-left: calc(var(--paddingContainer) * -1);
  margin-right: calc(var(--paddingContainer) * -1);
  padding-left: var(--paddingContainer);
  padding-right: var(--paddingContainer);
}
.inner-wrap,
.page-full {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding-left: var(--paddingContainer);
  padding-right: var(--paddingContainer);
  min-width: var(--min);
  max-width: var(--max);
  width: 100%;
}
.inner-wrap .inner-wrap,
.page-full .inner-wrap {
  min-width: 0;
  padding-left: 0;
  padding-right: 0;
}
.inner-wrap .cnt-section,
.page-full .cnt-section {
  min-width: 0;
}
.page-full {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}
.wrap,
.header,
.nav,
.footer,
.cnt-section {
  position: relative;
  clear: both;
  min-width: var(--min);
  width: 100%;
}
.wrap {
  overflow: hidden;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.wrap > .cnt-section {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.nav,
.header,
.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 1;
  text-align: left;
}
.nav ul,
.header ul,
.footer ul,
.nav li,
.header li,
.footer li,
.nav p,
.header p,
.footer p {
  margin: 0;
  padding: 0;
}
.nav ul:before,
.header ul:before,
.footer ul:before,
.nav li:before,
.header li:before,
.footer li:before,
.nav p:before,
.header p:before,
.footer p:before {
  display: none;
}
.nav a,
.header a,
.footer a {
  text-decoration: none;
  position: relative;
  transition: all ease 0.2s;
}
.footer {
  font-size: 14px;
  line-height: 1.57142857;
  color: #666;
  overflow: hidden;
  border-top: 1px solid var(--clr-border);
}
.footer .inner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  min-height: 120px;
  min-height: 120px;
  min-height: 12rem;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer .links-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-order: 3;
      order: 3;
  font-size: 16px;
}
.footer .link-wrap {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 50px;
  padding-left: 50px;
  padding-left: 5rem;
}
.footer .logo-wrap {
  width: 117px;
  width: 117px;
  width: 11.7rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-order: 1;
      order: 1;
}
.footer .info-wrap {
  -ms-flex: 1;
      flex: 1;
  padding-left: 23px;
  -ms-flex-order: 2;
      order: 2;
}
.footer .info-wrap a:not(:hover) {
  color: inherit;
}
.header {
  margin-bottom: 73px;
  margin-bottom: 73px;
  margin-bottom: 7.3rem;
  z-index: 99;
}
.header .inner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  min-height: 100px;
  min-height: 100px;
  min-height: 10rem;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header .link-wrap {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 200px;
  -ms-flex-order: 1;
      order: 1;
}
.header .link-wrap ~ .link-wrap {
  text-align: right;
  -ms-flex-order: 3;
      order: 3;
}
.header .logo-wrap {
  -ms-flex-order: 2;
      order: 2;
  width: 142px;
  width: 142px;
  width: 14.2rem;
}
.logo {
  display: block;
  position: relative;
  overflow: hidden;
  line-height: 1;
  text-decoration: none;
  width: 100%;
  letter-spacing: normal;
  font-weight: 400;
}
.logo:hover {
  text-decoration: none;
}
.logo img {
  display: block;
  width: 100%;
}
@media (max-width: 1023px) {
  .section-mobile-full {
    margin-left: calc(var(--paddingContainer) * -1);
    margin-right: calc(var(--paddingContainer) * -1);
  }
  .header {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
  .footer .inner-wrap {
    display: block;
  }
  .footer .logo-wrap {
    margin: 0 auto 15px auto;
  }
  .footer .info-wrap {
    margin-bottom: 15px;
  }
  .footer .links-wrap {
    display: block;
  }
  .footer .link-wrap {
    margin-bottom: 15px;
    line-height: 1;
    padding: 0;
  }
  .footer .link-wrap:last-child {
    margin-bottom: 0;
  }
  .header .link-wrap {
    width: 40px;
    height: 40px;
  }
  .header .link-email,
  .header .link-phone {
    width: 40px;
    height: 40px;
    padding: 0;
  }
  .header .link-email .link-title,
  .header .link-phone .link-title {
    display: none;
  }
  .header .link-email:before,
  .header .link-phone:before {
    top: 50%;
    left: 50%;
    margin: -12px 0 0 -12px;
    width: 24px;
    height: 24px;
  }
}
/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.item-tile-info {
  display: block;
  position: relative;
  min-height: 100%;
  padding: 2.6875em 2.375em 3.0625em 2.375em;
  border: 1px solid var(--clr-border);
  transition: all ease 0.2s;
  color: var(--clr-base);
}
.item-tile-info:hover {
  color: var(--clr-base);
}
.item-tile-info.tile-att {
  background: var(--clr-bg-att);
  border-color: var(--clr-bg-att);
}
.item-tile-info .tile-title {
  margin: 0 0 30px 0;
  margin: 0 0 30px 0;
  margin: 0 0 3rem 0;
  font-weight: 500;
}
.item-tile-info p,
.item-tile-info ul {
  margin-bottom: 1.25em;
}
.item-tile-info li {
  margin: 0;
}
.item-tile-info .list {
  font-weight: 500;
}
.item-tile-info .list li {
  position: relative;
  padding-left: 34px;
  margin-bottom: 12px;
}
.item-tile-info .list li:last-child {
  margin-bottom: 0;
}
.item-tile-info .list li:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url(../img/icons/plus.svg) center no-repeat;
  background-size: 100% auto;
  top: 0.625em;
  left: 0;
  margin-top: -10px;
}
.item-tile-info a:not(:hover) {
  color: inherit;
}
.item-tile-second {
  display: block;
  position: relative;
  text-align: center;
  margin: 0 auto;
  max-width: 11em;
  color: var(--clr-base);
  font-size: 20px;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 500;
}
.item-tile-second:hover {
  color: var(--clr-base);
}
.item-tile-second:hover .tile-ico {
  background-color: var(--clr-bg);
}
.item-tile-second .tile-ico {
  background: var(--clr-bg-att);
  transition: all ease 0.2s;
  width: 120px;
  width: 120px;
  width: 12rem;
  height: 120px;
  height: 120px;
  height: 12rem;
  margin: 0 auto;
  border-radius: 50%;
}
.item-tile-second .tile-ico img,
.item-tile-second .tile-ico svg {
  max-width: 50%;
  max-height: 50%;
}
.item-tile-second .tile-title {
  font-size: 1em;
  display: block;
  position: relative;
  margin-top: 40px;
  margin-top: 40px;
  margin-top: 4rem;
}
.item-tile-main {
  display: block;
  position: relative;
  background: var(--clr-bg);
  border: 1px solid var(--clr-bg);
  transition: all ease 0.2s;
  color: var(--clr-base);
  font-size: 20px;
  font-size: 20px;
  font-size: 2rem;
  padding: 85px 19px 19px 19px;
  padding: 85px 19px 19px 19px;
  padding: 8.5rem 1.9rem 1.9rem 1.9rem;
  min-height: 100%;
}
.item-tile-main:hover {
  color: var(--clr-base);
  border-color: var(--clr-border);
  background-color: transparent;
}
.item-tile-main .tile-ico {
  width: 60px;
  width: 60px;
  width: 6rem;
  height: 60px;
  height: 60px;
  height: 6rem;
  position: absolute;
  top: 20px;
  top: 20px;
  top: 2rem;
  right: 20px;
  right: 20px;
  right: 2rem;
}
.item-tile-main .tile-number {
  display: block;
  font-size: 2em;
  line-height: 1.1;
  font-weight: 500;
  color: var(--clr-att);
  margin: 0 0 4px 0;
}
.item-tile-main .tile-title {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  font-weight: 500;
  margin: 0;
}
:is([class^="item-tile"]):hover .elm-photo img,
:is([class^="item-tile"]):hover .tile-photo img {
  transform: scale(1.03);
}
.elm-photo,
.tile-photo {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  line-height: 1;
}
.elm-photo.photo-main,
.tile-photo.photo-main {
  border: 1px solid #f00;
  width: 300px;
  height: 300px;
}
.elm-photo:before,
.tile-photo:before {
  content: "";
  display: none;
  padding-top: 100%;
}
.elm-photo img,
.tile-photo img {
  display: block;
  position: relative;
  width: 100%;
  transition: all ease-out 1s;
}
.elm-photo.photo-cover:before,
.tile-photo.photo-cover:before {
  display: block;
}
.elm-photo.photo-cover img,
.tile-photo.photo-cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.elm-photo.photo-contain:before,
.tile-photo.photo-contain:before {
  display: block;
}
.elm-photo.photo-contain img,
.tile-photo.photo-contain img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
@supports (aspect-ratio: 1) {
  .elm-photo:not(.photo-cover, .photo-contain),
  .tile-photo:not(.photo-cover, .photo-contain) {
    aspect-ratio: inherit !important;
  }
  .photo-cover,
  .photo-contain {
    aspect-ratio: 1;
  }
  .photo-cover:before,
  .photo-contain:before {
    display: none !important;
  }
}
.elm-price,
.tile-price {
  white-space: nowrap;
}
.elm-price.price-old,
.tile-price.price-old {
  text-decoration: line-through;
}
[data-unit]:after {
  content: attr(data-unit);
  font-family: 'Arial', 'Roboto', 'Open Sans', sans-serif;
}
.elm-ico,
.button-ico,
.menu-ico,
.frm-ico,
.tab-ico,
.tile-ico,
.lbl-ico {
  display: block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
.elm-ico img,
.button-ico img,
.menu-ico img,
.frm-ico img,
.tab-ico img,
.tile-ico img,
.lbl-ico img,
.elm-ico [class*="icon-"],
.button-ico [class*="icon-"],
.menu-ico [class*="icon-"],
.frm-ico [class*="icon-"],
.tab-ico [class*="icon-"],
.tile-ico [class*="icon-"],
.lbl-ico [class*="icon-"],
.elm-ico .i,
.button-ico .i,
.menu-ico .i,
.frm-ico .i,
.tab-ico .i,
.tile-ico .i,
.lbl-ico .i,
.elm-ico svg,
.button-ico svg,
.menu-ico svg,
.frm-ico svg,
.tab-ico svg,
.tile-ico svg,
.lbl-ico svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.elm-overlay {
  display: none;
  animation: fadein ease 0.2s;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 120;
}
.elm-overlay.active {
  display: block;
}
@media (max-width: 639px) {
  .item-tile-info {
    padding: 4rem;
  }
}
/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.form-box {
  margin-bottom: 100px;
  margin-bottom: 100px;
  margin-bottom: 10rem;
  color: #fff;
}
.form-box .title-inner-box {
  margin-bottom: 40px;
  margin-bottom: 40px;
  margin-bottom: 4rem;
}
.form-box .box-inner-wrap {
  background-color: var(--clr-base);
  padding: 60px 60px 60px 60px;
  padding: 60px 60px 60px 60px;
  padding: 6rem 6rem 6rem 6rem;
}
.form-box .form-inner-wrap {
  margin: 0 auto;
  max-width: 782px;
  max-width: 782px;
  max-width: 78.2rem;
}
.form-box .frm-row,
.form-box .frm-row-submit {
  margin: 0 -8px;
}
.form-box .frm-field {
  padding: 0 8px;
  width: 100%;
  margin-bottom: 16px;
}
.form-box .frm-row-submit .frm-field:last-child {
  margin-bottom: 0;
}
.form-box .field-section {
  width: 33.33%;
}
.form-box .btn {
  width: 100%;
}
.tiles-slider-box {
  margin-bottom: 57px;
  margin-bottom: 57px;
  margin-bottom: 5.7rem;
  position: relative;
}
.tiles-slider-box .slider-wrap {
  margin: 0 -20px;
  margin: 0 -20px;
  margin: 0 -2rem;
  position: static;
}
.tiles-slider-box .slider {
  position: static;
}
.tiles-slider-box .sl-wrap {
  padding: 0 20px;
  padding: 0 20px;
  padding: 0 2rem;
}
.tiles-slider-box .title-inner-box {
  margin-bottom: 30px;
  margin-bottom: 30px;
  margin-bottom: 3rem;
  padding: 0 50px;
}
.tiles-slider-box .box-inner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  min-height: 420px;
  min-height: 420px;
  min-height: 42rem;
}
.tiles-slider-box .photo-inner-wrap {
  width: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 40px;
  padding: 0 40px;
  padding: 0 4rem;
}
.tiles-slider-box .info-inner-wrap {
  width: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 15px;
}
.tiles-slider-box .elm-photo {
  margin: 0 auto;
  max-width: 418px;
  max-width: 418px;
  max-width: 41.8rem;
}
.tiles-slider-box .h1-title {
  margin: 0 0 30px 0;
  margin: 0 0 30px 0;
  margin: 0 0 3rem 0;
  font-weight: 500;
}
.tiles-slider-box .h1-title:last-child {
  margin-bottom: 0;
}
.tiles-slider-box .h1-title .elm-ico {
  width: 1.2em;
  height: 1.2em;
  margin: 0 24px 0 0;
  margin: 0 24px 0 0;
  margin: 0 2.4rem 0 0;
  display: inline-block;
  vertical-align: middle;
}
.tiles-slider-box .h1-title .title-text {
  display: inline;
}
.tiles-slider-box .h1-title.title-att {
  font-weight: bold;
}
.tiles-slider-box .ico-arrow {
  width: 50px;
  width: 50px;
  width: 5rem;
  height: 50px;
  height: 50px;
  height: 5rem;
  position: absolute;
  top: -3px;
  left: 0;
}
.tiles-slider-box .ico-arrow-next {
  left: auto;
  right: 0;
}
.action-box {
  margin-bottom: 100px;
  margin-bottom: 100px;
  margin-bottom: 10rem;
  color: #fff;
}
.action-box .box-inner-wrap {
  background: var(--clr-base);
  display: -ms-flexbox;
  display: flex;
}
.action-box .action-inner-wrap {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 15em;
  font-size: 20px;
  font-size: 20px;
  font-size: 2rem;
}
.action-box .action-inner-wrap .btn {
  min-height: 100%;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  padding: 0 10px;
}
.action-box .info-inner-wrap {
  padding: 35px 40px 39px 46px;
  padding: 35px 40px 39px 46px;
  padding: 3.5rem 4rem 3.9rem 4.6rem;
  -ms-flex: 1;
      flex: 1;
}
.action-box .title-inner-box {
  text-align: left;
  margin: 0;
}
.tiles-box,
.tiles-icons-box {
  margin-bottom: 100px;
  margin-bottom: 100px;
  margin-bottom: 10rem;
}
.tiles-box .items-wrap,
.tiles-icons-box .items-wrap {
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 -13px -26px -13px;
  margin: 0 -13px -26px -13px;
  margin: 0 -1.3rem -2.6rem -1.3rem;
}
.tiles-box .item-wrap,
.tiles-icons-box .item-wrap {
  padding: 0 13px;
  padding: 0 13px;
  padding: 0 1.3rem;
  margin-bottom: 26px;
  margin-bottom: 26px;
  margin-bottom: 2.6rem;
  width: 25%;
}
.tiles-box .item-wrap.wrap-half,
.tiles-icons-box .item-wrap.wrap-half {
  width: 50%;
}
.tiles-icons-box {
  margin-bottom: 95px;
  margin-bottom: 95px;
  margin-bottom: 9.5rem;
}
.tiles-icons-box .items-wrap {
  margin: 0 -15px -40px -15px;
  margin: 0 -15px -40px -15px;
  margin: 0 -1.5rem -4rem -1.5rem;
}
.tiles-icons-box .item-wrap {
  padding: 0 15px;
  padding: 0 15px;
  padding: 0 1.5rem;
  width: 20%;
}
.about-box {
  margin-bottom: 76px;
  margin-bottom: 76px;
  margin-bottom: 7.6rem;
  font-size: 24px;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.16666667;
}
.about-box .box-inner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.about-box .info-inner-wrap {
  width: 46%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 40px 0 0;
  padding: 0 40px 0 0;
  padding: 0 4rem 0 0;
  min-height: 15em;
}
.about-box .photo-inner-wrap {
  width: 54%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.about-box .btn {
  margin-top: 0.8em;
}
.about-box .elm-photo {
  max-width: 627px;
  max-width: 627px;
  max-width: 62.7rem;
}
.about-box .h1-title {
  max-width: 8em;
  margin-bottom: 0.45em;
}
.title-inner-box {
  text-align: center;
  margin-bottom: 70px;
  margin-bottom: 70px;
  margin-bottom: 7rem;
  font-size: 20px;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.2;
}
.title-inner-box .h1-title,
.title-inner-box .h2-title {
  margin-bottom: 8px;
}
.title-inner-box .h1-title:last-child,
.title-inner-box .h2-title:last-child {
  margin-bottom: 0;
}
.title-inner-box b {
  font-weight: 500;
}
@media (max-width: 1023px) {
  .tiles-box .item-wrap,
  .tiles-icons-box .item-wrap {
    width: 33.33%;
  }
  .tiles-box .item-wrap.wrap-half,
  .tiles-icons-box .item-wrap.wrap-half {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .action-box .box-inner-wrap {
    display: block;
  }
  .action-box .info-inner-wrap {
    width: 100%;
    padding: 4rem;
  }
  .action-box .action-inner-wrap {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 639px) {
  .form-box .frm-field {
    width: 100%;
  }
  .form-box .box-inner-wrap {
    padding: 4rem;
  }
  .tiles-slider-box .box-inner-wrap {
    display: block;
  }
  .tiles-slider-box .photo-inner-wrap {
    width: 100%;
    padding: 0;
    margin-bottom: 5rem;
  }
  .tiles-slider-box .info-inner-wrap {
    width: 100%;
    padding: 0;
  }
  .tiles-box .item-wrap,
  .tiles-icons-box .item-wrap {
    width: 50%;
  }
  .about-box .box-inner-wrap {
    display: block;
  }
  .about-box .info-inner-wrap {
    width: 100%;
    padding: 0;
    margin-bottom: 5rem;
    min-height: 0;
  }
  .about-box .photo-inner-wrap {
    width: 100%;
  }
  .about-box .photo-inner-wrap .elm-photo {
    margin: 0 auto;
  }
  .about-box .h1-title {
    max-width: 100%;
  }
}
/* ----------------------------------- *\
			inputs elements styles
\* ----------------------------------- */
.form-input[placeholder] {
  text-overflow: ellipsis;
}
.form-input {
  text-overflow: ellipsis;
  justify-self: 50px;
  background: #3D3D3D;
  border: 1px solid #3D3D3D;
  padding: 0 10px 0 13px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  height: 50px;
}
textarea.form-input {
  height: 100px;
  padding-top: 10px;
  line-height: 1.75;
}
select.form-input {
  display: block;
  text-overflow: ellipsis;
  width: 100%;
  padding-right: 30px;
  background-image: url(../img/icons/arrow-select.svg);
  background-position: right 20px center;
  background-color: #fff;
  background-repeat: no-repeat;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none!important;
  line-height: 1em;
  text-indent: 0.01px;
  outline: none;
}
select.form-input.form-input-clear {
  height: auto;
  border: none;
  min-height: 0;
  border-radius: 0;
  box-shadow: none;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  line-height: inherit;
  padding: 0 16px 0 0;
  color: inherit;
  font-weight: bold;
  background-image: url(../img/icons/arrow-select.png);
  background-size: 8px auto;
  background-repeat: no-repeat;
  background-position: right center;
}
select::-ms-expand {
  display: none;
}
select.form-input:required:invalid {
  color: #ADADAD;
}
[placeholder]::-webkit-input-placeholder {
  color: #A4A4A4;
  font-weight: 400;
}
[placeholder]:-moz-placeholder {
  color: #A4A4A4;
  font-weight: 400;
}
[placeholder]::-moz-placeholder {
  color: #A4A4A4;
  font-weight: 400;
}
[placeholder]:-ms-input-placeholder {
  color: #A4A4A4;
  font-weight: 400;
}
.btn {
  background-color: var(--clr-base);
  border: 1px solid var(--clr-base);
  font-size: 16px;
  font-weight: 500;
  height: 3.125em;
  padding: 0 1.625em;
  color: #fff;
}
.btn:hover {
  background-color: var(--clr-att);
  border-color: var(--clr-att);
  color: #fff;
}
.btn.button-att {
  background-color: var(--clr-att);
  border-color: var(--clr-att);
}
.btn.button-att:hover {
  background-color: var(--clr-att-hover);
  border: 1px solid var(--clr-att-hover);
}
.btn.button-border:not(:hover) {
  background-color: transparent;
  color: var(--clr-base);
}
.btn.button-border.button-att:not(:hover) {
  background-color: transparent;
  color: var(--clr-att);
}
.btn.button-border:hover,
.btn.button-border.active {
  background-color: var(--clr-att);
  border-color: var(--clr-att);
}
.btn.button-border:hover .button-ico,
.btn.button-border.active .button-ico {
  filter: brightness(0) invert(1);
}
.btn .button-ico {
  width: 20px;
  height: 20px;
  margin: 0 12px;
  transition: all ease 0.2s;
  filter: brightness(0) invert(1);
}
.btn .button-ico:last-child {
  margin-right: 0;
}
.btn .button-ico:first-child {
  margin-left: 0;
}
.btn .button-title[data-title]:before {
  content: attr(data-title);
}
.btn .button-title[data-show]:before {
  content: attr(data-show);
}
.btn.active .button-title[data-title-active]:before {
  content: attr(data-title-active);
}
.btn.active .button-title[data-hide]:before {
  content: attr(data-hide);
}
.btn-action-ico {
  min-width: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  transition: all ease 0.2s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.btn-action-ico:not(.btn) {
  background: none;
  border: none;
  box-shadow: none;
}
.btn-action-ico.btn {
  min-width: 0;
  min-height: 0;
  padding: 0;
  display: block;
}
.btn-action-ico:before,
.btn-action-ico:after,
.btn-action-ico [class*="icon-"],
.btn-action-ico img,
.btn-action-ico svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  transition: all ease 0.2s;
}
.btn-action-ico img,
.btn-action-ico svg {
  max-width: 24px;
  max-height: 24px;
}
.btn-action-ico:before,
.btn-action-ico:after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px auto;
}
.btn-action-ico:hover {
  text-decoration: none;
}
.btn-action-ico:hover:not(.btn) {
  background: none;
  box-shadow: none;
}
.btn-action-ico.ico-arrow {
  z-index: 20;
  cursor: pointer;
}
.btn-action-ico.ico-arrow:before {
  background-image: url(../img/icons/arrow-slider.svg);
  background-size: 40% auto;
}
.btn-action-ico.ico-arrow-prev:before {
  transform: rotate(180deg);
}
.btn-action-ico.ico-menu:after,
.btn-action-ico.ico-menu:before {
  width: 24px;
  height: 18px;
  border-top: 2px solid var(--clr-base);
  border-bottom: 2px solid var(--clr-base);
  margin: -9px 0 0 -12px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
}
.btn-action-ico.ico-menu:before {
  height: 2px;
  margin-top: -1px;
  border-top: none;
}
.btn-action-ico.ico-menu.active:after {
  height: 2px;
  margin-top: -1px;
  border-top: none;
  transform: rotate(-45deg);
}
.btn-action-ico.ico-menu.active:before {
  transform: rotate(45deg);
}
.btn-action-ico.ico-close:after,
.btn-action-ico.ico-close:before {
  width: 20px;
  height: 2px;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  margin: -1px 0 0 -10px;
  background: var(--clr-base);
}
.btn-action-ico.ico-close:before {
  transform: rotate(45deg);
}
.btn-action-ico.ico-close:after {
  transform: rotate(-45deg);
}
.btn-action-ico.button-soc img,
.btn-action-ico.button-soc svg {
  max-width: 100%;
  max-height: 100%;
}
.btn-action-ico.button-soc:hover {
  opacity: 0.8;
}
.btn-action-icon {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  color: inherit;
}
.btn-action-icon.button-att {
  color: var(--clr-att);
}
.btn-action-icon.button-att .button-ico {
  filter: none;
}
.btn-action-icon:hover {
  color: var(--clr-att);
}
.btn-action-icon:hover .button-ico {
  filter: none;
}
.btn-action-icon .button-ico {
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  filter: brightness(0) grayscale(1);
}
.btn-action-icon .button-ico + .button-title {
  padding-left: 10px;
}
.btn-action-icon .button-title {
  display: block;
}
/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
.frm-row,
.frm-field,
.frm-row-submit {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  line-height: 1;
}
.frm-field {
  display: block;
  width: 100%;
}
.frm-select {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 1;
}
.frm-select input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.frm-select label {
  display: block;
  position: relative;
  cursor: pointer;
}
.frm-select label:before,
.frm-select label:after {
  content: "";
  display: block;
  position: absolute;
}
/* ----------------------------------- *\
		common styles
\* ----------------------------------- */
@keyframes flash {
  0% {
    opacity: 0.55;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeinslide {
  from {
    opacity: 0;
    transform: translate(0, -50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0px);
  }
}
.i,
[class*="icon-"] {
  display: block;
  transition: none;
}
.img-bg-cover,
.img-bg-contain {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.img-bg-contain {
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
@supports (object-fit: cover) {
  .img-bg-cover {
    height: 100%;
    object-fit: cover;
  }
}
@supports (object-fit: contain) {
  .img-bg-contain {
    height: 100%;
    object-fit: contain;
    max-width: inherit;
    max-height: inherit;
    right: auto;
    bottom: auto;
  }
}
.js-btn-popup-toggle.active + .js-popup-block {
  display: block !important;
}
.js-popup-block {
  animation: fadein ease 0.3s;
}
.js-tab-block {
  display: none;
  animation: fadein ease 0.2s;
}
.js-tab-block.active {
  display: block;
}
.items-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.items-wrap.show-all .item-wrap.wrap-hidden {
  display: block;
}
.items-wrap.show-all .wrap-more a:after {
  content: attr(data-hide);
}
.item-wrap {
  width: 100%;
  position: relative;
  break-inside: avoid-column;
  display: block;
  animation: fadein ease 0.2s;
}
.item-wrap.wrap-more ~ .item-wrap {
  display: none;
}
.item-wrap.wrap-more.active {
  display: none;
}
.item-wrap.wrap-more.active ~ .item-wrap {
  display: block;
}
.item-wrap.wrap-more a:after {
  content: attr(data-show);
}
.item-wrap.wrap-hidden {
  display: none;
  animation: fadein ease 0.2s;
}
.slider-wrap,
.slider,
.sl-wrap {
  position: relative;
  line-height: 1;
  display: block;
}
.sl-wrap ~ .sl-wrap {
  display: none;
}
.slick-dots {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  line-height: 1;
  text-align: center;
  font-size: 0;
  margin: 0;
}
.slick-dots li {
  margin: 0 5px 5px 0;
  padding: 0;
  display: block;
}
.slick-dots li:before {
  display: none;
}
.slick-dots li button {
  background: none;
  border: none;
  min-width: 0;
  padding: 0;
  box-shadow: none;
  font-size: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #C4C4C4;
}
.slick-dots li button:hover,
.slick-dots li button.active {
  background: var(--clr-att);
}
.slick-dots .slick-active button {
  background: var(--clr-att);
}
.tile-many-lines,
.text-many-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.item-tile,
.tile-outer-wrap,
.tile-inner-wrap,
.tile-photo-wrap,
.tile-photos-wrap,
.tile-info-wrap,
.tile-text-wrap,
.tile-title-wrap,
.tile-desc-wrap,
.tile-actions-wrap,
.tile-action-wrap,
.tile-ico,
.tile-photo,
.tile-info,
.tile-text,
.tile-title,
.tile-desc {
  display: block;
  position: relative;
}
.tile-link {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
  text-indent: -999px;
  font-size: 0;
  color: transparent;
}
.no-mbottom {
  margin-bottom: 0 !important;
}
.no-mtop {
  margin-top: 0 !important;
}
.no-pbottom {
  padding-bottom: 0 !important;
}
.no-ptop {
  padding-top: 0 !important;
}
.elm-hidden {
  display: none !important;
}
input.form-clear-autofill::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
@media (max-width: 1023px) {
  .elm-hidden-mobile {
    display: none !important;
  }
  .slick-dots li button:hover,
  .slick-dots li button.active {
    background-color: #c4c4c4;
  }
}
@media (min-width: 1024px) {
  .elm-hidden-desktop {
    display: none !important;
  }
}
/* ----------------------------------- *\
			fonts
\* ----------------------------------- */
@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro-Regular.eot');
  src: local('Cera Pro Regular'), local('CeraPro-Regular'), url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/CeraPro-Regular.woff') format('woff'), url('../fonts/CeraPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro-Medium.eot');
  src: local('Cera Pro Medium'), local('CeraPro-Medium'), url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/CeraPro-Medium.woff') format('woff'), url('../fonts/CeraPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro-Bold.eot');
  src: local('Cera Pro Bold'), local('CeraPro-Bold'), url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CeraPro-Bold.woff') format('woff'), url('../fonts/CeraPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* ----------------------------------- *\
			icons
\* ----------------------------------- */
