
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="info-wrap">
			<p>© 2024 Система мониторинга МАЯК</p>
		</div>
		<div class="links-wrap">
			<div class="link-wrap">
				<a href="mailto:infoclients@mayak.com" class="link-email"><div class="link-title">infoclients@mayak.com</div></a>
			</div>
			<div class="link-wrap">
				<a href="tel:89254555050" class="link-phone"><div class="link-title">+7 925 455 50 50</div></a>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->